@font-face {
    font-family: 'Hussar';
    src: url('fonts/hussarbd-web.eot');
    src: url('fonts/hussarbd-web.eot?#iefix') format('embedded-opentype'),
        url('fonts/hussarbd-web.woff2') format('woff2'),
        url('fonts/hussarbd-web.woff') format('woff'),
        url('fonts/hussarbd-web.ttf') format('truetype'),
        url('fonts/hussarbd-web.svg#svgFontName') format('svg');
}

* {
    font-family: 'Hussar', sans-serif;
    text-align: center;
    margin: 10px auto;
}

canvas {
    display: block;
}

textarea {
    text-transform: uppercase;
}
